<!doctype html>
<html>
    <head>
        <title>PROTECC Coral | UNSW iGEM 2020</title>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/Attributions">Attributions</a>
        </nav>
        {{ content }}
    </body>
</html>
