{% comment %} Everything is already inside of html and body tags {% endcomment %}

<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
	<header>
		<a href="index.html"><img src="/images/waratah-logo.png" alt="UNSW iGEM logo"></a>

		<nav>
			<ul>
				<li><a href="">Project</a>
					<div class="sub-menu">
						<ul>
							<li><a href="#">Description</a></li>
							<li><a href="#">Modelling</a></li>
							<li><a href="#">Improved Parts</a></li>
						</ul>
					</div>
				</li>

				<li><a href="">Experiment</a></li>
				<li><a href="">Human Practices</a></li>
				<li><a href="">About Us</a></li>
				<li><a href="">Judging</a></li>
			</ul>
		</nav>
	</header>

	<section class="banner">
		<h1>PROTECC CORAL</h1>
		<h2>To protect and conserve coral reefs,the heart of our oceans</h2>
		<img src="/images/banner.jpg">
	</section>

	<section>

	</section>

	<footer>

	</footer>


</body>

{{ content }}
