{% comment %} Everything is already inside of html and body tags {% endcomment %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<link rel="stylesheet" href="/build/app.css">
	<link rel="stylesheet" href="/build/ttf.css">
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	<script src="/build/runtime.js"></script>
	<script src="/build/app.js"></script>
{% endblock %}
<div id="UNSW-iGEM">
	{% include header.html %}

	{% assign type = page.inputPath | getFileType %}
	{% if type == 'md' %}
		<section>
			{{ content }}
		</section>
	{% else %}
		{{ content }}
	{% endif %}

	<footer class="socials">
		<a href="https://www.instagram.com/unsw_igem/"><img src="/assets/images/Social-Instagram.svg"></a>
		<a href="https://www.facebook.com/unswigemteam"><img src="/assets/images/Social-Facebook.svg"></a>
	</footer>
</div>
