{% comment %} Everything is already inside of html and body tags {% endcomment %}
<link rel="stylesheet" href="/assets/app.css">
<link rel="stylesheet" href="/assets/ttf.css">
<div id="UNSW-iGEM">
	{% include header.html %}

	{% assign type = page.inputPath | getFileType %}
	{% if type == 'md' %}
		<section>
			{{ content }}
		</section>
	{% else %}
		{{ content }}
	{% endif %}

	<footer class="socials">
		<a href="https://www.instagram.com/unsw_igem/"><img src="/assets/images/Social-Instagram.svg"></a>
		<a href="https://www.facebook.com/unswigemteam"><img src="/assets/images/Social-Facebook.svg"></a>
	</footer>
</div>
