{% comment %} Everything is already inside of html and body tags {% endcomment %}
<link rel="stylesheet" type="text/css" href="/build/app.css">
{% comment %} <script src="index.js"> {% endcomment %}

<header>
	<a href="index.html"><img src="/assets/images/waratah-logo.png"></a>
	<nav>
		<ul>
			<li><a href="">Project</a>
				<div class="sub-menu">
					<ul>
						<li><a href="#">Description</a></li>
						<li><a href="#">Modelling</a></li>
						<li><a href="#">Improved Parts</a></li>
					</ul>
				</div>
			</li>

			<li><a href="">Experiment</a>
				<div class="sub-menu">
					<ul>
						<li><a href="#">Notebook</a></li>
						<li><a href="#">Results</a></li>
						<li><a href="#">Methods</a></li>
						<li><a href="#">Safety Form</a></li>
					</ul>
				</div>
			</li>

			<li><a href="">Human Practices</a>
				<div class="sub-menu">
					<ul>
						<li><a href="#">Stakeholders</a></li>
						<li><a href="#">Integrated Human Practices</a></li>
						<li><a href="#">Education and Outreach</a></li>
					</ul>
				</div>
			</li>

			<li><a href="">About Us</a>
				<div class="sub-menu">
					<ul>
						<li><a href="team.html">Team Members</a></li>
						<li><a href="#">Collaborations</a></li>
						<li><a href="#">Attributions</a></li>
					</ul>
				</div>
			</li>

			<li><a href="">Judging</a>
				<div class="sub-menu">
					<ul>
						<li><a href="#">Medals</a></li>
						<li><a href="#">Judging Form</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
</header>

<section class="banner">
	<img src="/assets/images/banner.jpg">

	<h1>PROTECC CORAL</h1>
	<h2>To protect and conserve coral reefs,the heart of our oceans</h2>
</section>

<div class="content">
	{{ content }}
</div>

<img src="/assets/images/banner.jpg">
<footer class="socials">
	<a href="https://www.instagram.com/unsw_igem/"><img src="/assets/images/Social-Instagram.svg"></a>
	<a href="https://www.facebook.com/unswigemteam"><img src="/assets/images/Social-Facebook.svg"></a>
</footer>
