{% comment %} Everything is already inside of html and body tags {% endcomment %}
<link rel="stylesheet" type="text/css" href="/assets/app.css">
<link rel="stylesheet" type="text/css" href="/assets/ttf.css">
<div id="UNSW-iGEM">
	{% include header.html %}

	<div id="{{ page.fileSlug }}">
		{% assign type = page.inputPath | getFileType %}
		{% if type == 'md' %}
			<section>
				{{ content }}
			</section>
		{% else %}
			{{ content }}
		{% endif %}
	</div>

	<footer>
		<img src="/assets/images/UNSW-logo.png">
		<img src="/assets/images/babs-logo.png">
		<img src="/assets/images/rr-logo.png" width="220px" height="40px" id="second">
		<img src="/assets/images/IDT-logo.png" width="200px" height="55px" id="second">
	</footer>
</div>
