<header>
    <nav class="navbar">
        <a href="/index.html"><img src="/assets/images/waratah-logo.png"></a>
        {% for topLevel in nav %}
            <div class="dropdown">
                <button class="dropbtn">
                    {{ topLevel.name }}
                </button>
                <div class="dropdown-content">
                    {% for item in topLevel.children %}
                        {% if item.url %}
                            {% if item.url contains 'http' %}
                                <a href="{{ item.url }}">{{ item.name }}</a>
                            {% else %}
                                <a href="/{{ item.url }}">{{ item.name }}</a>
                            {% endif %}
                        {% else %}
                            <a href="/{{ item.name | replace: ' ', '_' }}">{{ item.name }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </nav>
    {% if page.url == '/' %}
        {% assign banner = '/assets/images/Home Banner.svg' %}
        {% assign bannerClass = "banner-home" %}
    {% else %}
        {% assign banner = "/assets/images/Page Banner.svg" %}
        {% assign bannerClass = "banner-page" %}
    {% endif %}
    <div class="banner {{ bannerClass }}">
        <img src="{{ banner }}">
        <h1>
            {% if title %}
                {{ title | upcase }}
            {% else %}
                {{ page.fileSlug | replace: '_', ' ' | upcase }}
            {% endif %}
        </h1>
        {% if subtitle %}
            <h2>{{ subtitle }}</h2>
        {% endif %}
    </div>
</header>
