/*workflow image*/ 
section.workflow{
  margin-bottom: 100px;
}

section.workflow img{
  grid-column: 3/span 8;
}

section.workflow h2{
  grid-column: 3/span 8;
}

section.workflow p{
  grid-column: 3/span 8;
}

/*banner section*/ 
section{
  margin:0px 0 32px 0;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 32px 32px;
  grid-auto-flow: dense;
}

.banner{
  position: relative;
  text-align: center;
}

section.banner h1{
  text-align: center; 
  text-shadow: 4px 4px 0px #F3E7F1;
  grid-column: span 12;
  margin: 100px;
}

/*navigation box*/
html{
  scroll-behavior: smooth;
}

div.nav-items{
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #15524A;
  grid-column: 2/span 3;
  max-height: 12.5%; 
}

div.nav-items a{
  text-decoration: none;
}

div.nav-items ul{
  margin: 29px;
}

div.nav-items li{
  list-style-position: inside;
  border-bottom: 2px solid white;
  color: white;
  margin: 12px;
}

div.nav-items li:hover{
  transition: 0.3s;
  color: #FAD4D6;
}

/*Stakeholders box*/ 
p{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

div.content-box{
  background-color: #F3E7F1;
  grid-column: 5/span 7;
}

div.content-info{
  margin: 40px;
}

div.content-info p{
  margin: 0 0 30px 0;
}

div.methods img{
  grid-column: 2/ span 5;
}

div.figures{
  margin: 0px 0 32px 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 32px 32px;
  grid-auto-flow: dense;
}

div.figures img{
  grid-column: 3/ span 4;
}

div.figures p{
  grid-column: span 8;
}

b{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

/* references */
div.references li{
  list-style-position: inside;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 23px;
}