/*introduction section*/ 
p{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

section.introduction div.introduction-text{
  grid-column: 2/span 6;
}

section.introduction div.introduction-text h1{
  text-align: center;
  margin: 32px 0 0 0; 
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

section.introduction div.introduction-text p{
  margin: 32px 0 0 0; 
}

section.introduction div.introduction-image{
  grid-column:8/ span 4;
}

/*journey section*/ 
section.journey{
  background-color: #F3E7F1;
}

section.journey h1{
  text-align: center;
  grid-column: 2/span 10;
  margin: 54px 0 40px 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.journey div.lab-work-des{
  grid-column: 2/span 5;
  text-align: center;
}

section.journey div.lab-work-des p{
  margin: 32px 0 32px 0; 
}

section.journey div.hp-des{
  grid-column: 7/span 5;
  text-align: center;
  margin-bottom: 32px;
}

section.journey div.hp-des p{
  margin: 32px 0 32px 0; 
}

section.journey button{
  margin: 0 0 54px 0;
  box-shadow:inset 0px 0px 0px 0px #276873;
  background-color:#ddd;
  border:none;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Josefin Sans;
  font-size:14px;
  font-weight:bold;
  line-height: 23px;
  padding: 16px 32px;
  text-decoration:none;
  transition: 0.3s
}

section.journey button:hover{
  background-color: #39857B;
  color: white;
}

/*Meet the team section*/ 

section.meet-team h1{
  grid-column: 2/span 6; 
  text-transform: uppercase;
  text-align: center;
  margin: 54px 0 30px 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.meet-team div.team-image{
  grid-column: 2/span 6;
}

section.meet-team div.team-image img{
  margin:0 0 54px 0;
  filter: drop-shadow(-25px 30px 0px #F3E7F1);
}

section.meet-team div.team-intro{
  grid-column: 8/ span 4;
  text-align: center;
}

section.meet-team div.team-intro p{
    margin: 126px 0 50px 0;
    text-align: center;
}

section.meet-team button{
  box-shadow:inset 0px 0px 0px 0px #276873;
  background-color:#F3E7F1;
  border:none;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Josefin Sans;
  font-size:14px;
  font-weight:bold;
  line-height: 23px;
  padding: 16px 32px;
  text-decoration:none;
  transition: 0.3s
}

section.meet-team button:hover{
  background-color: #39857B;
  color: white;
}

/*footer section*/ 
footer{
  display: flex;
  justify-content: center;
  /*background-image: url(../images/Footer.svg);*/
  background-color: #15524A;
}

footer img{
  margin: 120px 0 120px 32px;
}













