/*HP introduction*/
section.hp-intro h1 {
  grid-column: 2 / span 10;
  text-align: center;
}

section.hp-intro p {
  grid-column: 2 / span 10;
}

section.overview {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 32px 32px;
  grid-auto-flow: dense;
  margin: 68px 100px 100px 100px;
}

section.overview div.stakeholders-scicomm {
  grid-column: span 5;
}

section.overview div.stakeholders-scicomm h2 {
  margin: 20px 0 20px 0;
}

section.overview div.stakeholders-scicomm p {
  text-align: justify;
}

section.overview div.stakeholders-scicomm a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

section.overview div.stakeholders-scicomm a:hover {
  color: #39857b;
}
