@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Lato&family=Source+Sans+Pro&display=swap');

/*presets*/ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/*edit here*/ 
/*nav-bar*/
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F3E7F1;
}

header img{
  width: 50px;
  margin:16px 0 16px 200px;
}

header nav{
  font-family: Josefin Sans; 
  font-weight:600px;
  font-size: 25px; 
  line-height: 0; 
  margin:32px 200px 32px 0;
}

nav li {
    line-height: 1em;
    margin: 0px 10px;
    padding: 0px;
}



nav ul{
  display: inline-flex;
  list-style: none;
}

nav a:hover{
  color: #15524A;
  transition: 0.1s border-bottom 0.1s;
  border-bottom:2px solid #15524A;
}

header nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin: 5px;
}

.sub-menu{
  display: none;
  z-index: 1;
}

nav ul li:hover div.sub-menu{
  display: block;
  position: absolute;
} 

nav ul li:hover div.sub-menu ul {
    display: block;
    margin: 15px 0px 0px 15px;
    background-color: #F3E7F1;
    padding: 10px;
}


nav ul li:hover div.sub-menu ul li {
    width: 100%;
    margin: 10px 0px;
    border-radius: 0;
    text-align: left;
    font-size: 14px;
    line-height: 1.5em;
}

/*banner start*/
section{
  margin:0px 0 20px 0;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 32px 32px;
  grid-auto-flow: dense;

}

.banner{
  position: relative;
  text-align: center;
}

section.banner img{
  width: 100%;
  left: 0px;
  opacity: 0.75;
  grid-column: 1/span 12
}

h1{
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
}

section.banner h1{
  text-align: center; 
  position: absolute;
  top: 35%;
  width: 100%; 
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2{
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;

}

section.banner h2{
  text-align: center;
  position: absolute;
  top: 45%;
  width: 100%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*introduction section*/ 
p{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

section.introduction div.introduction-text{
  grid-column: 2/span 6;
}

section.introduction div.introduction-text h1{
  text-align: center;
  margin: 32px 0 0 0; 
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

section.introduction div.introduction-text p{
  margin: 32px 0 0 0; 
}

section.introduction div.introduction-image{
  grid-column:8/ span 4;
}

/*journey section*/ 
section.journey{
  background: linear-gradient(180deg, #F3E7F1 0%, #EFF0FF 100%);
}

section.journey h1{
  text-align: center;
  grid-column: 2/span 10;
  margin: 54px 0 40px 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.journey div.lab-work-des{
  grid-column: 2/span 5;
  text-align: center;
}

section.journey div.lab-work-des p{
  margin: 32px 0 32px 0; 
}

section.journey div.hp-des{
  grid-column: 7/span 5;
  text-align: center;
  margin-bottom: 32px;
}

section.journey div.hp-des p{
  margin: 32px 0 32px 0; 
}

section.journey button{
  margin: 0 0 54px 0;
  box-shadow:inset 0px 0px 0px 0px #276873;
  background-color:#ddd;
  border:none;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Josefin Sans;
  font-size:14px;
  font-weight:bold;
  line-height: 23px;
  padding: 16px 32px;
  text-decoration:none;
  transition: 0.3s
}

section.journey button:hover{
  background-color: #39857B;
  color: white;
}

/*Meet the team section*/ 

section.meet-team h1{
  grid-column: 2/span 6; 
  text-transform: uppercase;
  text-align: center;
  margin: 54px 0 30px 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.meet-team div.team-image{
  grid-column: 2/span 6;
}

section.meet-team div.team-image img{
  margin:0 0 54px 0;
  filter: drop-shadow(-25px 30px 0px #F3E7F1);
}

section.meet-team div.team-intro{
  grid-column: 8/ span 4;
}

section.meet-team div.team-intro p{
    margin: 126px 0 50px 0;
    text-align: center;
}

section.meet-team button{
  margin: 0 0 54px 130px;
  box-shadow:inset 0px 0px 0px 0px #276873;
  background-color:#ddd;
  border:none;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Josefin Sans;
  font-size:14px;
  font-weight:bold;
  line-height: 23px;
  padding: 16px 32px;
  text-decoration:none;
  transition: 0.3s
}

section.meet-team button:hover{
  background-color: #39857B;
  color: white;
}

/*footer section*/ 
footer{
  display: flex;
  justify-content: center;
  background-color: #15524A;
}

footer img{
  margin: 120px 0 120px 32px;
}













