div.attributions-box{
  grid-column: 2/span 10;
}

div.attributions-box h1{
  grid-column: 2/span 10;
  margin:100px 0 50px 0;
  text-align: center;
}

div.attribute-profile{
  margin:100px 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 32px 32px;
  grid-auto-flow: dense;
}

div.attribute-photo{
  grid-column: 2/span 2;
}

div.attribute-des{
  grid-column: 4/ span 6;
}

div.attribute-des h2{
  margin-bottom: 25px;
}

div.att-des{
  margin: 50px;
}
