/*introduction*/ 
section.collab-intro h1{
  text-align: center; 
  text-shadow: 4px 4px 0px $site-pink;
}


/*Symposium section*/
section.symposium{
  background-color: $site-pink;
}

section.symposium h1{
  grid-column: 4/span 6;
  text-align: center;
  margin-top: 50px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}

section.symposium p{
  grid-column: 2/span 10;
}

div.video{
  grid-column: 4/span 6;
  margin-left: auto;
  margin-right: auto;
}

section.symposium h2{
  margin: 20px 0;
}

div.exeter{
  grid-column: 2/span 5;
}

div.exeter p{
  text-align: justify;
  margin-bottom: 25px;
}

div.st-andrews{
  grid-column: span 5;
}

div.st-andrews p{
  text-align: justify;
}

/*comms section*/ 
section.communications h1{
  text-align: center; 
  text-shadow: 4px 4px 0px $site-pink;
}

section.communications p{
  grid-column: 4/ span 6;
  text-align: justify;
}

/*social media*/
section.social-media{
  margin: 0;
  background-color: $site-pink;
}

section.social-media h1{
  grid-column: span 12;
  text-align: center;
  margin-top: 70px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}

section.social-media h2{
  margin: 32px 0 15px 0;
}

section.social-media p{
  margin-bottom: 60px;

}

div.uppsala{
  grid-column: 2/span 5;
}

div.duesseldorf{
  grid-column: span 5;
}

/*team collabs*/ 
section.team-collab{
  background-color: $site-pink;
  margin-bottom: 0px;
}

section.team-collab h1{
  text-align: center;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
}

section.team-collab h2{
  margin: 20px 0;
}

section.team-collab p{
  margin-bottom: 25px;
}

div.team{
  grid-column: 2/ span 10;
}

img#height{
  max-height: 180px;
}







