/*contributions section*/
section.contributions div.contribution-title{
  grid-column: 3/ span 8;
  background-color: $site-green;
}

section.contributions div.contribution-title h1{
  text-align: center;
  color: white;
  margin: 32px;
}

section.contributions p{
  grid-column: 3/ span 8;
}
