/*background section*/
section.bg-GBR div.quote{
  grid-column: 2/span 10;
  background-color: #F3E7F1;
}

section.bg-GBR div.quote h1{
  text-align: center;
  margin: 100px;
}

section.bg-GBR div.bg-text{
  grid-column: 2/ span 5;
}

section.bg-GBR h2{
  margin-bottom: 20px;
}

section.bg-GBR p{
  margin-bottom: 20px;
}

section.bg-GBR h2#quote{
  font-style: italic;
}

section.bg-GBR img{
  grid-column: 7/ span 5;
}

/*inspiration*/
div.inspo-title{
  grid-column: 2/ span 5;
}

div.inspo-title h1{
  margin: 50px 0;
}

div.inspo-title img{
  margin-bottom: 100px;
}

div.inspiration{
  grid-column: 7/ span 5;
}

div.inspiration #first{
  margin-top: 140px;
}

/*why syn-bio*/
div.syn-bio{
  background-color: #F3E7F1;
  grid-column: 2/ span 10;
}

div.syn-bio h1{
  margin: 50px 120px;
}

div.syn-bio p{
  margin: 0 120px 20px 120px;
}

p#last{
  margin-bottom: 50px;
}

div.project-goals {
  background-color: $site-green;
  grid-column: 2/ span 10;
  h1{
    color: white;
    text-align: center;
    margin: 25px;
  }
  ul li {
    list-style-position: inside;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
  }
}

div.HP-goals{
  grid-column: 2/span 5;
}

div.Lab-goals{
  grid-column: 7/ span 5;
}

/*final statement*/
h1#final-statement{
  grid-column: span 12;
  text-align: center;
  margin-top: 100px;
}
