/*introduction image*/
section.introduction h1{
  grid-column: span 12;
  text-align: center;
  text-shadow: 4px 4px 0px #F3E7F1;
}

section.introduction p{
  grid-column: 3/span 8;
}

section.introduction ol{
  grid-column:3 /span 8;
  
}

section.introduction ul{
	grid-column:3/ span 8;
	//list-style-position: inside;
	font-family: Source Sans Pro !important;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

/*category section*/
section.categories div.category{
  background-color: $site-green;
  grid-column: 3/span 8;
  margin: 32px 0;
}

section.categories div.category h1{
  color: white;
  text-align: center;
  margin: 32px;
}

section.categories img{
  grid-column: 3/ span 4;
}

section.categories div.category-des{
  grid-column: 7/span 4;
  text-align: justify;
}

section.categories div.category-des p{
  margin-bottom: 32px
}

.category-des button{
  box-shadow:inset 0px 0px 0px 0px #276873;
  background-color: $site-grey;
  border:none;
  display:inline-block;
  cursor:pointer;
  color: $site-black;
  font-family:Josefin Sans;
  font-size:14px;
  font-weight:bold;
  line-height: 23px;
  padding: 16px 32px;
  text-decoration:none;
  transition: 0.3s;
  grid-column: 8/ span 2;
  margin-bottom: 50px;
}

.category-des button:hover{
  background-color: $site-green;
  color: white;
}
