/*introduction image*/
section.introduction h1 {
  grid-column: span 12;
  text-align: center;
  text-shadow: 4px 4px 0px #f3e7f1;
  margin-top: 100px;
}

section.introduction p {
  grid-column: 3 / span 8;
}

section.introduction ol {
  grid-column: 3 / span 8;
  font-size: 18px;
}

section.introduction ul {
  grid-column: 3 / span 8;
  font-family: Source Sans Pro !important;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: justify;
}

section.introduction li {
  margin: 10px;
}

section.introduction img#future {
  grid-column: 4 / span 6;
  max-height: 400px;
}

section.introduction a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
  font-weight: bold;
  padding-right: 0px !important;
}

section.introduction a:hover {
  color: #fad4d6;
}

section.introduction div.divide h1 {
  background-color: #fad4d6;
  grid-column: 3 / span 8;
  margin: 32px 0;
  text-shadow: 0px 0px 0px #f3e7f1;
  text-align: center;
}

section.introduction div.link {
  background-color: $site-green;
  color: white;
  background-size: auto;
  text-align: center;
  font-family: Source Sans Pro !important;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  grid-column: 5 / span 4;
}

section.introduction div.link a {
  color: white;
  font-weight: normal;
  transform: scale3d(2);
  text-align: center;
}

section.introduction div.link a:hover {
  text-shadow: 0 0 0.9px white, 0 0 0.9px white, 0 0 0.9px white;
}

section.introduction div.book {
  grid-column: 4 / span 6;
}

section.introduction .scale {
  //max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

section.introduction .scalelogo {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

section.introduction .scaleform {
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*category section*/
section.categories div.category {
  background-color: $site-green;
  grid-column: 3 / span 8;
  margin: 32px 0;
}

section.categories div.category h1 {
  color: white;
  text-align: center;
  margin: 32px;
}

section.categories img {
  grid-column: 3 / span 4;
  border: 5px solid $site-green;
}

section.categories div.category-des {
  grid-column: 7 / span 4;
  text-align: justify;
}

section.categories div.category-des p {
  margin-bottom: 32px;
}

/*escape room page*/
section.overview img {
  grid-column: span 5;
  margin-left: auto;
  margin-right: auto;
}

.kings-logos {
  align-content: center;
  display:flex;
  justify-content: center;
  img {
    width: 25%;
    padding-left: 2em;
    padding-right: 2em;
  }
}

.edulogo p {
  text-align: center;
  font-size: 12;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  grid-column: span 12;
  margin-bottom: 0%;
}

section.edupanel img {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

section.edupanel p {
  text-align: center;
  font-size: 12;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
}

section.overview p {
  text-align: center;
  font-size: 12;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  grid-column: span 10;
  margin-bottom: 0%;
}

section.edulec img {
  grid-column: 4 / span 6;
  max-height: 400px;
}

section.edulec p {
  text-align: center;
  font-size: 12;
  margin-top: 10;
  margin-left: auto;
  margin-right: auto;
  grid-column: span 12;
}
