/*introduction image*/
section.introduction h1{
  grid-column: span 12;
  text-align: center;
}

section.introduction p{
  grid-column: 3/span 8;
}

/*category section*/
section.categories div.category{
  background-color: $site-green;
  grid-column: 3/span 8;
  margin: 32px 0;
}

section.categories div.category h1{
  color: white;
  text-align: center;
  margin: 32px;
}

section.categories img{
  grid-column: 3/ span 4;
}

section.categories div.category-des{
  grid-column: 7/span 4;
  text-align: justify;
}

section.categories div.category-des p{
  margin-bottom: 32px
}
