/*Table*/
table#Medal {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  tr,
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-family: Source Sans Pro !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
  }
  ul,
  ol {
    list-style-position: inside;
    margin: 0px;
  }
  a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-weight: bold;
    padding-right: 0px !important;
  }

  a:hover {
    color: #fad4d6;
  }
}

div.medal-title{
  grid-column: 2/span 10; 
  text-align: center;
}

div.medal-title img{
  max-height: 200px;
}

section.bronze th {
  background-color: #fce5cd !important;
}

section.silver th {
  background-color: #efefef !important;
}

section.gold th {
  background-color: #fff2cc !important;
}

section.special th {
  background-color: #cfe2f3 !important;
}
