#model-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  ul {
    list-style: disc;
  }
  a {
    text-align: center;
    color: $site-black;
    display: block;
    div {
        background-color: $site-pink;
    }
  }
}

.side-by-side {
  display: flex;
  figure {
    background-color: $site-pink;
    display: block;
    margin: 1em;
    img {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1.5em;
      display: block;
    }
    figcaption {
      font-family: Source Sans Pro;
      text-align: center;
      padding: 0.5em;
      font-size: 1em;
    }
  }
}
