/*notebook section*/
section.notebook div.weeks{
  grid-column: 3/ span 8;
  background-color: $site-green;
}

section.notebook div.weeks h1{
  text-align: center;
  color: white;
  margin: 32px;
}

section.notebook ul{
	grid-column:4/ span 8;
	list-style-position: inside;
	font-family: Source Sans Pro;
}

section.notebook ol{
  font-size: 18px; 
  grid-column: 3/span 8;
  margin:0px;
}

section.notebook li{
	margin:5px;
}

section.notebook p{
  grid-column: 3/ span 8;
}

section.notebook img#lab1{
	grid-column: 3/span 4; 
}

section.notebook img#lab2{
	grid-column: 7/ span 4;
}

section.notebook a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
    padding-right: 0px !important;
  }

 section.notebook a:hover {
    color: #fad4d6;
  }


