/*notebook section*/
section.notebook div.weeks{
  grid-column: 3/ span 8;
  background-color: $site-green;
}

section.notebook div.weeks h1{
  text-align: center;
  color: white;
  margin: 32px;
}

section.notebook p{
  grid-column: 3/ span 8;
}
