/*HP introduction*/ 
div.title {
  grid-column: 2/span 10;
  text-align: center;
  background-color: $site-green;
}

div.title h1{
  color: white;
  margin:32px;
}

section.hp-intro h2{
  border-bottom: 1px solid black !important;
}

section.hp-intro p{
  grid-column: 2/ span 10;
}

section.hp-intro a{
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

section.hp-intro a:hover{
  color: #fad4d6;
}


/*Overview Section*/ 
section.overview{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 32px 32px;
  grid-auto-flow: dense;
  margin: 68px 100px 100px 100px;
}

section.overview div.stakeholders-scicomm{
  grid-column:span 5;
}

section.overview div.stakeholders-scicomm h2{
  margin: 20px 0 20px 0;
}

section.overview div.stakeholders-scicomm p{
  text-align: justify;
}

section.overview div.stakeholders-scicomm a{
  text-decoration: none;
  color: black; 
  transition: 0.3s;
}

section.overview div.stakeholders-scicomm a:hover{
  color: #39857B;
}
